/**
 * ${businessName} 控制器
 */
import { Controller, Get, Post, Body, Param, Delete, Query, Put } from "@nestjs/common";
import { ApiOperation, ApiTags } from "@nestjs/swagger";
import { ${entityName}Service } from "./${entityKebab}.service";
import { ${entityName}QueryDto } from "./dto/${entityKebab}-query.dto";
import { Create${entityName}Dto } from "./dto/create-${entityKebab}.dto";
import { Update${entityName}Dto } from "./dto/update-${entityKebab}.dto";

@ApiTags("${businessName}接口")
@Controller("${entityKebab}")
export class ${entityName}Controller {
  constructor(private readonly ${entityLowerCamel}Service: ${entityName}Service) {}

  @ApiOperation({ summary: "${businessName}分页列表" })
  @Get()
  async get${entityName}Page(@Query() query: ${entityName}QueryDto) {
    return await this.${entityLowerCamel}Service.get${entityName}Page(query);
  }

  @ApiOperation({ summary: "获取${businessName}表单数据" })
  @Get(":id/form")
  async get${entityName}Form(@Param("id") id: string) {
    return await this.${entityLowerCamel}Service.get${entityName}FormData(id);
  }

  @ApiOperation({ summary: "新增${businessName}" })
  @Post()
  async create(@Body() formData: Create${entityName}Dto) {
    return await this.${entityLowerCamel}Service.create(formData);
  }

  @ApiOperation({ summary: "修改${businessName}" })
  @Put(":id")
  async update(@Param("id") id: string, @Body() formData: Update${entityName}Dto) {
    return await this.${entityLowerCamel}Service.update(id, formData);
  }

  @ApiOperation({ summary: "删除${businessName}" })
  @Delete(":ids")
  async delete(@Param("ids") ids: string) {
    return await this.${entityLowerCamel}Service.delete(ids);
  }
}
