import { IsString, IsNumber, IsOptional, IsNotEmpty, IsArray } from "class-validator";
import { Transform } from "class-transformer";

/**
 * ${businessName} 创建参数
 */
export class Create${entityName}Dto {
#foreach($fieldConfig in $fieldConfigs)
#if($fieldConfig.isShowInForm && $fieldConfig.formType != "HIDDEN" && $fieldConfig.fieldName != "id")
#if("$!fieldConfig.fieldComment" != "")
  /** ${fieldConfig.fieldComment} */
#end
#if($fieldConfig.isRequired == 1)
  @IsNotEmpty({ message: "${fieldConfig.fieldComment}不能为空" })
#else
  @IsOptional()
#end
#if($fieldConfig.formType == "CHECK_BOX")
  @IsArray()
  @IsString({ each: true })
  ${fieldConfig.fieldName}#if($fieldConfig.isRequired != 1)?#end: string[];
#elseif($fieldConfig.tsType == "number")
  @Transform(({ value }) => (value === undefined ? undefined : Number(value)))
  @IsNumber()
  ${fieldConfig.fieldName}#if($fieldConfig.isRequired != 1)?#end: number;
#else
  @IsString()
  ${fieldConfig.fieldName}#if($fieldConfig.isRequired != 1)?#end: string;
#end
#end
#end
}
