/**
 * ${businessName} 实体
 */
import { Column, Entity } from "typeorm";
import { BaseEntity } from "@/common/entities/base.entity";

@Entity("${tableName}")
export class ${entityName} extends BaseEntity {
#foreach($fieldConfig in $fieldConfigs)
#if($fieldConfig.fieldName != "id" && $fieldConfig.fieldName != "createBy" && $fieldConfig.fieldName != "createTime" && $fieldConfig.fieldName != "updateBy" && $fieldConfig.fieldName != "updateTime" && $fieldConfig.fieldName != "isDeleted")
  @Column({
    #if($fieldConfig.columnName && $fieldConfig.columnName != $fieldConfig.fieldName)
    name: "${fieldConfig.columnName}",
    #end
    type: "${fieldConfig.columnType}",
    #if($fieldConfig.maxLength)
    length: ${fieldConfig.maxLength},
    #end
    #if($fieldConfig.isRequired != 1)
    nullable: true,
    #end
    #if("$!fieldConfig.fieldComment" != "")
    comment: "${fieldConfig.fieldComment}",
    #end
  })
  ${fieldConfig.fieldName}: ${fieldConfig.tsType};
#end
#end
}
